* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* container */
.valentinecode-banner-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* banner */
.valentinecode-banner-container .valentinecode-banner {
  background: linear-gradient(
    to right,
    red 43%,
    #fff 40%,
    #fff 100%
  ) !important;
  box-sizing: border-box !important;

  border: 2px solid #000 !important;

  margin: 10px !important;
  border-radius: 5px !important;
  margin: 10px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;

  overflow: hidden !important;
}

/* shoe */
.valentinecode-banner-container .valentinecode-banner .valentinecode-shoe {
  flex: 1 1 250px !important;
  padding: 10px !important;
  text-align: center !important;
}

/* img */
.valentinecode-banner-container
  .valentinecode-banner
  .valentinecode-shoe
  .valentinecode-image {
  width: 70% !important;
}

/* text content */
.valentinecode-content .valentinecode-remeber {
  font-size: 10px !important;
  margin-top: 15px !important;
  font-style: italic !important;
}

.valentinecode-banner-container .valentinecode-banner .valentinecode-content {
  flex: 1 1 250px !important;
  text-align: center !important;
  padding: 40px !important;
  text-transform: uppercase !important;
}
/* 
.valentinecode-banner-container .valentinecode-banner .valentinecode-content span {
    color: #eee;
    font-size: 25px;
} */

.valentinecode-banner-container
  .valentinecode-banner
  .valentinecode-content
  .valentinecode-get {
  font-size: 25px !important;
  letter-spacing: 1px !important;
  font-weight: 100 !important;
}

.valentinecode-banner-container
  .valentinecode-banner
  .valentinecode-content
  .valentinecode-coupon {
  font-size: 25px !important;
  letter-spacing: 1px !important;
  font-weight: 100 !important;
  height: 40px !important;
  width: 155px !important;
  line-height: 40px !important;

  border: 2px solid #000 !important;
  color: #000 !important;
  margin: 5px auto !important;
  border-style: dotted !important;
  border-radius: 30px !important;
  margin-top: 5px !important;
}

.valentinecode-banner-container
  .valentinecode-banner
  .valentinecode-content
  .valentinecode-friday {
  font-size: 10px !important;
  padding: 20px 0 !important;
}

/* button  */

.valentinecode-banner-container
  .valentinecode-banner
  .valentinecode-content
  .valentinecode-btn {
  display: block !important;
  height: 40px !important;
  width: 150px !important;
  line-height: 40px !important;
  background: #000 !important;
  color: #fff !important;
  margin: 5px auto !important;
  text-decoration: none !important;
  border-radius: 30px !important;
  margin-top: 10px !important;
}

@media screen and (max-width: 600px) {
  .valentinecode-banner-container .valentinecode-banner {
    background: linear-gradient(
      to top,
      white 0%,
      white 55%,
      red 50%,
      red 100%
    ) !important;
  }
}

/* index2............................................................................................... */
/* index2 .......................................................................................................*/

/* small box */

.valentinecode-container {
  width: 50% !important;
  height: auto !important;
  background: #c3cbcfea !important;
  display: flex !important;
  justify-content: center !important;

  flex-flow: wrap !important;
  margin: 7% 0 0 25% !important;
}

.valentinecode-smallbox {
  width: 42% !important;
  height: 320px !important;
  background: linear-gradient(
    to top,
    white 0%,
    white 62%,
    red 50%,
    red 100%
  ) !important;

  text-transform: uppercase !important;

  margin: 40px 0 0 0 !important;
  box-shadow: 0 5px 10px #0005 !important;
}

.valentinecode-text {
  padding: 30px 0 !important;
  text-align: center !important;
  color: #fff !important;
}

.valentinecode-smallbox .valentinecode-subscribe {
  font-size: 0.92vw !important;
  max-width: 100% !important;
  margin: 30px 0 0 20px !important;
  letter-spacing: 0.2px !important;
}

.valentinecode-smallbox .valentinecode-emailtext {
  font-weight: 100 !important;
  font-size: 15px !important;
  margin: 14px 0 0 20px !important;
}

.valentinecode-form-box {
  display: flex !important;
  flex-direction: column !important;
  width: 72% !important;
}

.valentinecode-form-box .valentinecode-email {
  flex-basis: 100% !important;

  border-radius: 20px !important;
  margin: 10px 0 0 15px !important;
}

.valentinecode-email {
  padding: 4% 2% !important;
  border: 1px solid gray;
}

.valentinecode-btnsend {
  padding: 0.7rem 1rem !important;
  margin: 10px 0px 0px 15px !important;
  border-radius: 20px !important;
  border-style: none !important;
  background-color: #ff3300 !important;
  color: #fff !important;
}

/* box */
.valentinecode-box {
  width: 40% !important;
  height: 60vh !important;
  background: #fff !important;
  margin: 20px !important;
  box-sizing: border-box !important;
  font-size: 50px !important;
  box-shadow: 0 5px 10px #0005 !important;
}

.valentinecode-women {
  width: 60% !important;
  margin: 30px 0 0 18% !important;
}

.valentinecode-woman-box {
  background-color: #ff3300 !important;
}

.valentinecode-container .valentinecode-special {
  font-size: 2.4vw !important;
  margin: 15px 0 0 0 !important;
  text-align: center !important;
  font-weight: 100 !important;
}

.valentinecode-container .valentinecode-offer {
  font-size: 2vw !important;
  text-align: center !important;
  margin: 32px 0 0 0 !important;
  font-weight: 100 !important;
}

.valentinecode-btnsend1 {
  padding: 0.5rem 1rem !important;
  margin: 7% 0px 0px 40% !important;
  border-radius: 20px !important;
  border-style: none !important;
  background-color: #ff3300 !important;
  color: #fff !important;
}

@media screen and (max-width: 1200px) {
  .valentinecode-container {
    padding: 0px 0px 20px !important;
  }

  .valentinecode-box {
    width: 40% !important;
    height: 55vh !important;
  }

  .valentinecode-smallbox {
    width: 46% !important;
    height: 51vh !important;
    padding: 4% 0% !important;
  }

  .valentinecode-btnsend {
    padding: 5% 7% !important;
    margin: 10px 0px 0px 15px !important;
    border-radius: 20px !important;
    border-style: none !important;
    background-color: #ff3300 !important;
    color: #fff !important;
  }

  .valentinecode-btnsend1 {
    padding: 5% 9% !important;
    margin: 10% 0px 0px 35% !important;
    border-radius: 20px !important;
    border-style: none !important;
    background-color: #ff3300 !important;
    color: #fff !important;
  }

  .valentinecode-smallbox .valentinecode-subscribe {
    font-size: 1.2vw !important;
    max-width: 100% !important;
    margin: 30px 0 0 20px !important;
    letter-spacing: 0.2px !important;
  }
}

@media screen and (max-width: 600px) {
  .valentinecode-box {
    width: 90% !important;
    height: 70% !important;
    padding: 0 0 15px 0 !important;
  }

  .valentinecode-container .valentinecode-special {
    font-size: 4.8vw !important;
    margin: 15px 0 0 0 !important;
    text-align: center !important;
    font-weight: 100 !important;
  }

  .valentinecode-container .valentinecode-offer {
    font-size: 4.3vw !important;
    text-align: center !important;
    margin: 32px 0 0 0 !important;
    font-weight: 100 !important;
  }

  .valentinecode-btnsend {
    padding: 5% 7% !important;
  }

  /* smallbox  */
  .valentinecode-smallbox {
    width: 90% !important;
    height: fit-content !important;
    padding: 10px !important;
  }

  .valentinecode-smallbox .valentinecode-subscribe {
    font-size: 2vw !important;
    max-width: 100% !important;
    margin: 30px 0 0 20px !important;
    letter-spacing: 0.2px !important;
  }
}
/* index3 ................................................. */
/* index3 ................................................... */

.valentinecode-boxcontainer {
  display: flex !important;
  justify-content: center !important;
}
.valentinecode-bar {
  margin: 30px 0 !important;
  width: 50% !important;
  height: 7vh !important;
  background-color: rgb(0, 0, 0) !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.valentinecode-text {
  font-size: 1.2vw !important;
  color: #fff !important;
  display: flex;
}
/* vaertical */
.valentinecode-vertical-container {
  display: flex !important;
}
/* icon */
.valentinecode-icon .ri-firefox-line {
  font-size: 1.7vw !important;
  color: red !important;
  margin-right: 17px !important;
}
/* text content */
/* .valentinecode-text-content {
  width: 100% !important;
  margin-left: 3% !important;
  display: flex;
} */

/* button */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.valentinecode-container {
  display: flex !important;
  justify-content: center !important;
}
.valentinecode-bar {
  margin: 30px 0 !important;
  width: 50% !important;
  height: 7vh !important;
  background-color: rgb(0, 0, 0) !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.valentinecode-text {
  font-size: 1.2vw !important;
  color: #fff !important;
  display: flex;
}
/* vaertical */
.valentinecode-vertical-container {
  display: flex !important;
}
/* icon */
.valentinecode-icon .ri-firefox-line {
  font-size: 1.7vw !important;
  color: red !important;
  margin-right: 17px !important;
}
/* text content */
/* .valentinecode-text-content {
  width: 100% !important;
  margin-left: 3% !important;
  display: flex;
} */

/* button */
.valentinecode-button {
  width: 100% !important;
  font-size: 1.2vw !important;
  margin-left: 50% !important;

  border-style: none !important;

  padding: 2px !important;
  background-color: red !important;
}
@media screen and (max-width: 1200px) {
  /* bar */
  .valentinecode-bar {
    width: 70% !important;
  }
  /* text-container */
  .valentinecode-text {
    font-size: 1.8vw !important;
    color: #fff !important;
  }
  .valentinecode-icon .ri-firefox-line {
    font-size: 1.7vw !important;
  }
}
@media screen and (max-width: 600px) {
  /* text-container */
  .valentinecode-text {
    font-size: 1.9vw !important;
    color: #fff !important;
  }
  /* button */
  .valentinecode-button {
    width: 100% !important;
    font-size: 1.2vw !important;
  }
}
@media screen and (max-width: 500px) {
  /* text-container */
  .valentinecode-text {
    font-size: 1.9vw !important;
    color: #fff !important;
  }
}
@media screen and (max-width: 400px) {
  /* text-container */
  .valentinecode-text {
    font-size: 1.9vw !important;
    color: #fff !important;
  }
}
/* index4........................ */
/* index4.................. */

.valentinecode-container {
  display: flex !important;
  justify-content: center !important;
}
.valentinecode-bar {
  margin: 30px 0 !important;
  width: 50% !important;
  height: 7vh !important;
  background-color: rgb(0, 0, 0) !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
/* text content */
.valentinecode-dot {
  margin-left: 7px !important;
}
.valentinecode-text-content {
  margin-right: 10px !important;
}
.valentinecode-time {
  margin-left: 10px !important;
}
.valentinecode-little {
  font-size: 1vw !important;
}
.valentinecode-text {
  font-size: 1.2vw !important;
  color: #fff !important;
  display: flex;
}
/* vaertical */
.valentinecode-vertical-container {
  display: flex !important;
}
/* icon */
.valentinecode-icon .ri-firefox-line {
  font-size: 1.7vw !important;
  color: red !important;
  margin-right: 17px !important;
}
/* text content */
/* .valentinecode-text-content {
  width: 100% !important;
  margin-left: 3% !important;
  display: flex;
} */

/* button */
.valentinecode-button {
  width: 100% !important;
  font-size: 1.2vw !important;
  margin-left: 50% !important;

  border-style: none !important;

  padding: 2px !important;
  background-color: red !important;
}
@media screen and (max-width: 1200px) {
  /* bar */
  .valentinecode-bar {
    width: 70% !important;
  }
  /* text-container */
  .valentinecode-text {
    font-size: 1.8vw !important;
    color: #fff !important;
  }
  .valentinecode-icon .ri-firefox-line {
    font-size: 1.7vw !important;
  }
}
@media screen and (max-width: 600px) {
  /* text-container */
  .valentinecode-text {
    font-size: 1.9vw !important;
    color: #fff !important;
  }
  /* button */
  .valentinecode-button {
    width: 100% !important;
    font-size: 1.2vw !important;
  }
}
@media screen and (max-width: 500px) {
  /* text-container */
  .valentinecode-text {
    font-size: 1.9vw !important;
    color: #fff !important;
  }
}
@media screen and (max-width: 400px) {
  /* text-container */
  .valentinecode-text {
    font-size: 1.9vw !important;
    color: #fff !important;
  }
}
@media screen and (max-width: 300px) {
  /* text-container */
  .valentinecode-bar {
    width: 80% !important;
  }
}

/* index5 .................................................................................................................. */
/* index5 .................................................................................................................. */
/* index5 .................................................................................................................. */

/* first container */
.valentinecode-countercontainer {
  margin-top: 10% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/* main container */
.valentinecode-maincontainer {
  width: 32% !important;
  height: 20vh !important;
  border: solid rgb(164, 202, 160) !important;
}

/* content containenr */
.valentinecode-contentcontainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 10px 0 0 0 !important;
}
/* image */
.valentinecode-imagebox {
  border-radius: 50% !important;
  margin-top: 10px !important;
}
/* text */
.valentinecode-contenttext {
  font-size: 1.3vw !important;
}
/* paragraph */
.valentinecode-paragraph {
  font-size: 1vw !important;
  margin: 7px 0 0 0 !important;
}
.valentinecode-online {
  margin-left: 30px !important;
}
@media screen and (max-width: 1200px) {
  .valentinecode-maincontainer {
    width: 37% !important;
    height: 20vh !important;
    border: solid rgb(164, 202, 160) !important;
  }
  .valentinecode-contenttext {
    font-size: 1.5vw !important;
  }
  .valentinecode-paragraph {
    font-size: 1.3vw !important;
    margin: 7px 0 0 0 !important;
  }
  .valentinecode-online {
    margin-left: 20px !important;
  }
}
@media screen and (max-width: 800px) {
  .valentinecode-maincontainer {
    width: 47% !important;
    height: 20vh !important;
    border: solid rgb(164, 202, 160) !important;
  }
  .valentinecode-contenttext {
    font-size: 1.8vw !important;
  }
  .valentinecode-paragraph {
    font-size: 1.5vw !important;
    margin: 7px 0 0 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .valentinecode-maincontainer {
    width: 57% !important;
    height: 17vh !important;
  }
  .valentinecode-contenttext {
    font-size: 2.5vw !important;
  }
  .valentinecode-paragraph {
    font-size: 1.9vw !important;
  }
  .valentinecode-imagebox {
    width: 80% !important;
  }
  .valentinecode-online {
    margin-left: 10px !important;
  }
}
@media screen and (max-width: 600px) {
  .valentinecode-maincontainer {
    width: 65% !important;
    height: 17vh !important;
  }
}

@media screen and (max-width: 430px) {
  .valentinecode-maincontainer {
    width: 70% !important;
  }
  .valentinecode-contenttext {
    font-size: 2.8vw !important;
  }
  .valentinecode-paragraph {
    font-size: 2.2vw !important;
  }
}

/* index6..................................................... */
/* index6..................................................... */
/* index6..................................................... */

.valentinecode-bigbox {
  margin: 10% 0 0 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.valentinecode-mainbox {
  width: 35% !important;
  height: 30vh !important;
  border: solid rgb(173, 150, 176) !important;
  display: flex !important;
  padding: 30px 0 0 0 !important;
}
.valentinecode-icon {
  margin: 0 0 0 50px !important;
  font-size: 3vw !important;
  color: rgb(162, 132, 166) !important;
}
.valentinecode-contentbox {
  margin: 0 0 0 9% !important;
}
.valentinecode-contenttextbox {
  font-weight: 100 !important;
  font-size: 1.5vw !important;
  width: 80% !important;
}
.valentinecode-contentparagraphbox {
  font-weight: 100 !important;
  font-size: 1.25vw !important;
  padding: 13px 0 0 0 !important;
  color: rgb(161, 136, 165) !important;
}
.valentinecode-flash {
  font-size: 1.2vw !important;
  color: rgb(22, 177, 243) !important;
}
.valentinecode-contentindex {
  margin: 10px 0 0 56% !important;
  width: 100% !important;
  font-size: 1.2vw !important;
}
.valentinecode-seven {
  color: rgb(162, 132, 166) !important;
}

@media screen and (max-width: 1200px) {
  .valentinecode-mainbox {
    height: 27vh !important;
  }
  .valentinecode-contenttext {
    font-size: 1.5vw !important;
  }
  .valentinecode-paragraph {
    font-size: 1.3vw !important;
    margin: 7px 0 0 0 !important;
  }
  .valentinecode-online {
    margin-left: 20px !important;
  }
}
@media screen and (max-width: 800px) {
  .valentinecode-mainbox {
    width: 40% !important;
    height: 22vh !important;
  }
  .valentinecode-contenttextbox {
    font-size: 2vw !important;
    width: 100% !important;
  }
  .valentinecode-contentparagraphbox {
    font-size: 1.6vw !important;
  }
  .valentinecode-icon {
    margin: 0 0 0 20px !important;
  }
}
@media screen and (max-width: 600px) {
  .valentinecode-mainbox {
    width: 40% !important;
    height: 23vh !important;
  }
  .valentinecode-contenttextbox {
    font-size: 2.2vw !important;
    width: 95% !important;
  }
}

@media screen and (max-width: 400px) {
  .valentinecode-mainbox {
    width: 70% !important;
    height: 22vh !important;
  }
  .valentinecode-contenttextbox {
    font-size: 3.4vw !important;
    width: 100% !important;
  }
  .valentinecode-contentparagraphbox {
    font-size: 3vw !important;
  }
  .valentinecode-icon {
    font-size: 7vw !important;
  }
  .valentinecode-contentindex {
    font-size: 2.7vw !important;
  }
  .valentinecode-flash {
    font-size: 2.5vw !important;
    color: rgb(22, 177, 243) !important;
  }
}
@media screen and (max-width: 300px) {
  .valentinecode-mainbox {
    width: 85% !important;
    height: 22vh !important;
  }
  .valentinecode-contenttextbox {
    font-size: 4.2vw !important;
  }
  .valentinecode-contentparagraphbox {
    font-size: 3vw !important;
  }
  .valentinecode-icon {
    font-size: 7vw !important;
  }
  .valentinecode-contentindex {
    font-size: 2.7vw !important;
  }
  .valentinecode-flash {
    font-size: 2.5vw !important;
    color: rgb(22, 177, 243) !important;
  }
}
